BUG_RUNNER_DATABASE_URL=
SLACK_TEAM_ID=T_REPLACE
CODEX_ENVIRONMENT_ID=REPLACE_ENVIRONMENT_ID
CODEX_BASE_BRANCH=main
CODEX_REPOSITORY_URL=https://github.com/REPLACE_OWNER/REPLACE_REPOSITORY.git
BUG_RUNNER_ROOT=/home/REPLACE_USER/.local/state/otl1-bug-runner
CODEX_ACCOUNT_ALIAS=primary
BUG_RUNNER_WORKER_ID=genquant-primary
